body{
    background-color: whitesmoke;
}
.head{
    background-color: rgb(1, 1, 50);
    display: flex;
    gap: 20px;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 9px;
    top: 0px;
    z-index: 1;
    position: fixed;
}
.A{
    margin-right: 160px;
    font-size: 29px;
   font-weight: 700;
   margin-top: 13px;
}
.f{
    margin-right: 60px;
}
.g{
    background-color: yellow;
    border-radius: 5px;
    color: black;
   width: 120px;
    font-size: 18px;
    padding: 10px;
    height: 20px;
    margin-top: 20px;
    text-decoration: none;
}
.a,.b,.c,.d,.e,.f{
    margin-top: 30px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    
}
.a:hover{
    color: yellow;
}
.b:hover{
    color: yellow;
}
.c:hover{
    color: yellow;
}
.d:hover{
    color: yellow;
}
.e:hover{
    color: yellow;
}
.f:hover{
    color: yellow;
}
.img{
    background-image: url(leave.html);
    margin-top: 80px;
    height: 350px;
    justify-content: center; 
    align-items: center;    
    text-align: center;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    width: 1240px;
}
.h12{
     color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 120px;
    font-weight: bold;
}
.h121{
     color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
}
.main3{
    display:inline-block;
    gap: 20px;
    vertical-align: top;
    letter-spacing: 1px;
    height: 700px;
    background-color: white;
}
.beyond{
    margin-top: 140px;
    text-align: center;
}
.life{
    font-size: 40px;
    margin-top: -30px;
    color:rgb(1, 1, 48) ;
}
.sass1{
   height: 350px;
   width: 500px;
   border-radius: 10px;
   margin-top: -22px;
   float:left;
   margin-right: 60px;
}
.h3,.para{
    margin-right: 50px;
    margin-top: -50px;
    line-height:1.2;
    font-size: 18px;
}
ul{
     line-height:1.9;
     font-size: 18px;
}
.h3{
    font-size: 25px;
    color:rgb(1, 1, 48) ;
}

.gap{
    background-color: yellow;
    border-radius: 5px;
    color: black;
   width: 120px;
    font-size: 18px;
    padding: 10px;
    height: 20px;
    margin-top: 50px;
    text-decoration: none;
}

.pag{
    margin-top: 120px;

}
.mar{
    margin-right:80px ;
}
.box{
    margin-top: 90px;
    text-align: center;
    margin-bottom: -90px;
    height: 660px;
}
.h2{
    margin-top: 80px;
    color:rgb(1, 1, 48) ;
    font-size: 40px;
    font-weight: bold;
}
.box1{
    display: inline-flex;
    gap: 30px;
    vertical-align: middle;
    margin-top: 60px;
    height: 450px;
}
.col1{
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(194, 194, 194);
    height: 350px;
    width:350px ;
    align-content: center;
}
.sa{
    height: 250px;
   width: 350px;
   border-radius: 10px;
   margin-top: -13px;
}
.col2{
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgb(194, 194, 194);
    height: 340px;
    width:350px ;
    align-content: center;
    margin-top: 10px;
}
.sas{
   height: 250px;
   width: 350px;
   border-radius: 10px;
   margin-top: -27px;
}
.col3{
     border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgb(194, 194, 194);
    height: 350px;
    width:350px ;
    align-content: center;
}
.sass{
   height: 250px;
   width: 350px;
   border-radius: 10px;
   margin-top: -22px;
}
.col1:hover{
   transform: translate(0px,-10px);
}
.col2:hover{
   transform: translate(0px,-10px);
}
.col3:hover{
   transform: translate(0px,-10px); 
}
.size{
    font-size: 20px;
    color: rgb(1, 1, 36);
    font-weight: bold;
}
.size1{
    font-size: 20px;
    color: rgb(1, 1, 36);
    font-weight: bold;
}
.size2{
    font-size: 20px;
    color: rgb(1, 1, 36);
    font-weight: bold;
}
.hii{
    border: 2px solid rgb(244, 243, 243);
    box-shadow: 0px 0px 3px 3px rgb(244, 243, 243);
    background-color: white;
    margin-top: 0px; 
    height: 330px;
}
.lii{
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    color: black;
}
.coursesi{
    display: inline-flex;
    gap: 28px;
    margin-top: 10px;
}
.p5{
    border-radius: 10px;
     box-shadow: 0px 0px 3px 3px rgb(230, 229, 229);
     background-color: white;
    height: 130px;
    width:250px ;
    font-size: 17px;
    align-content: center;
    margin-top: 30px;
}
.p5{
    transition: transform 0.3s ease-out;
}
.p5:hover{
    transform: scale(1.1);
}
.n1{
    font-weight: bold;
}
.boxs{
    margin-top: 90px;
    text-align: center;
    margin-bottom: -90px;
    height: 660px;
}
.h2{
    margin-top: 80px;
    color:rgb(1, 1, 48) ;
    font-size: 40px;
    font-weight: bold;
}
.box1{
    display: inline-flex;
    gap: 30px;
    vertical-align: middle;
    margin-top: 60px;
    height: 450px;
}
.col1s{
    box-shadow: 0px 0px 2px 2px rgb(194, 194, 194);
    height: 350px;
    width:350px ;
    align-content: center;
       border-radius: 10px;
}

.s1{
    height: 290px;
   width: 350px;
   border-radius: 10px;
   margin-bottom: 35px;
}
.s1{
    transition: transform 0.3s ease-out;
}
.s1:hover{
    transform: scale(1.1);
}
.col1s:hover{
    transform: translate(0px,-10px);
}
.col2s{
    box-shadow: 0px 0px 3px 3px rgb(194, 194, 194);
    height: 350px;
    width:350px ;
    align-content: center;
    margin-top: 0px;
       border-radius: 10px;
}
.s2{
   height: 290px;
   width: 350px;
   border-radius: 10px;
      margin-bottom: 35px;
}
.s2{
    transition: transform 0.3s ease-out;
}
.s2:hover{
    transform: scale(1.1);
}
.col2s:hover{
    transform: translate(0px,-10px);
}
.col3s{
    box-shadow: 0px 0px 3px 3px rgb(194, 194, 194);
    height: 350px;
    width:350px ;
    align-content: center;
       border-radius: 10px;
}
.s3{
   height: 290px;
   width: 350px;
   border-radius: 10px;
     margin-bottom: 35px;
}
.s3{
    transition: transform 0.3s ease-out;
}
.s3:hover{
    transform: scale(1.1);
}
.col3s:hover{
    transform: translate(0px,-10px);
}
.size{
    font-size: 20px;
    color: rgb(1, 1, 36);
    font-weight: bold;
}
.size1{
    font-size: 20px;
    color: rgb(1, 1, 36);
    font-weight: bold;
}
.size2{
    font-size: 20px;
    color: rgb(1, 1, 36);
    font-weight: bold;
}
.hiis{
    border: 2px solid rgb(244, 243, 243);
    box-shadow: 0px 0px 3px 3px rgb(244, 243, 243);
    background-color: white;
    margin-top: 0px; 
    height: 330px;
}
.liis{
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    color: black;
}
.coursesis{
    display: inline-flex;
    gap: 28px;
    margin-top: 10px;
}
.p6s{
    border-radius: 10px;
     box-shadow: 0px 0px 3px 3px rgb(230, 229, 229);
     background-color: white;
    height: 130px;
    width:300px ;
    font-size: 17px;
    align-content: center;
    margin-top: 30px;
}
.p6s:hover{
    transform: translate(0px,-10px);
}
.n11{
    font-weight: bold;
}

.box7{
    display: inline-flex;
    gap: 20px;
    vertical-align: middle;
    margin-top: 50px;
}
.box71{
    display: inline-flex;
    gap: 27px;
    vertical-align: middle;
    margin-top: 45px;
}
.col0{
    transition: transform 0.4s ease;
}
.col0:hover{
    transform: scale(1.1);
}
.h2{
    font-weight: bold;
    font-size: 35px;
    margin-top: 100px;
    color: black;
}
.box0{
    margin-top: 90px;
    text-align: center;
    margin-bottom: -90px;
    height: 800px;
}
.sa31{
    height: 250px;
   width: 350px;
   border-radius: 10px;
   margin-top: -25px;
}
.sas31{
   height: 250px;
   width: 350px;
   border-radius: 10px;
   margin-top: -27px;
}
.sass31{
   height: 250px;
   width: 350px;
   border-radius: 10px;
   margin-top: -27px;
}
.sa32{
    height: 250px;
   width: 350px;
   border-radius: 10px;
   margin-top: -25px;
}
.sas32{
   height: 250px;
   width: 350px;
   border-radius: 10px;
   margin-top: -27px;
}
.sass32{
   height: 250px;
   width: 350px;
   border-radius: 10px;
   margin-top: -27px;
}
.main5{
    display: inline-flex;
    gap: 30px;
    margin-top: 0px;
}
.col6{
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(228, 226, 226);
    height: 250px;
    width:350px ;
    align-content: center;
    margin-top: 20px;
}
.col6:hover{
   transform: translate(0px,-10px);
}
.h21{
    font-weight: bold;
    font-size: 40px;
    margin-top: 60px;
    color: black;
}
.yellow{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-top: 10px;
}
.sizes2{
    font-size: 20px;
    color: rgb(1, 1, 36);
    font-weight: bold;
}
.text{
    color: gray;
}
.main31{
    display:inline-block;
    gap: 20px;
    vertical-align: top;
    letter-spacing: 1px;
    height: 700px;
    background-color: white;
    margin-top: 30px;
    width: 1240px;
}
.beyond1{
    margin-top: 140px;
    text-align: center;
}
.life1{
    font-size: 40px;
    margin-top: -30px;
    color:rgb(1, 1, 48) ;
}
.vi{
    height: 400px;
    border-radius: 20px;
    border: 2px solid grey;
    margin-top: 30px;
    width: 1220px;
}
.hi{
    margin-top: 60px; 
    height: 400px;
}
.ii{
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    color: black;
}
.ji{
    display: inline-flex;
    gap: 30px;
   vertical-align: middle;
   margin-top: 20px;
}
.p1i{
    border-radius: 10px;
    box-shadow: 0px 0px 2px 3px rgb(197, 197, 197);
    height: 130px;
    width:250px ;
    font-size: 17px;
    align-content: center;
    animation: float 1s ease-in-out infinite alternate;
}
.p2i{
    border-radius: 10px;
    box-shadow: 0px 0px 2px 3px rgb(197, 197, 197);
    height: 130px;
    width:250px ;
    font-size: 17px;
    align-content: center;
}
.p3i{
    border-radius: 10px;
    box-shadow: 0px 0px 2px 3px rgb(197, 197, 197);
    height: 130px;
    width:250px ;
    font-size: 17px;
    align-content: center;
}
.p4i{
    border-radius: 10px;
   box-shadow: 0px 0px 2px 3px rgb(197, 197, 197);
    height: 130px;
    width:250px ;
    font-size: 17px;
    align-content: center;
    border-color: white;
}
.n{
    font-size: 40px;
    color: rgb(1, 1, 48);
    font-weight: bold;
}
.p1i{
    transition: transform 0.3s ease-out;
}
.p1i:hover{
    transform: scale(1.1);
}
.p2i{
    transition: transform 0.3s ease-out;
}
.p2i:hover{
    transform: scale(1.1);
}
.p3i{
    transition: transform 0.3s ease-out;
}
.p3i:hover{
    transform: scale(1.1);
}
.p4i{
    transition: transform 0.3s ease-out;
}
.p4i:hover{
    transform: scale(1.1);
}
.last1 {
    background-color: #011329;
    height: 300px;
    color: white;
    text-align: center;
    margin-top: -30px;
}
.gobal,.quick,.pro,.con{
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
}
.gold{
    color: #ffcc00;
    margin-right: 20px;
}
.gold1{
    color: #ffcc00;
    margin-left: -42px;
    margin-top: -20px;
}
.gold2{
    color: #ffcc00;
    margin-left: 80px;
    margin-top: 20px;
}
.gold3{
    color: #ffcc00;
    margin-left: -60px;
    margin-top: 0px;
}

.quick{
    text-align: left;
   margin-top: 90px;
     display: inline-block;
    vertical-align: middle;
    margin-left: 150px;
    text-align: center;
}
.gobal{
    margin-top: -25px;
     display: inline-block;
    vertical-align: middle;
    margin-left: -260px;
}
.pro{
     display: inline-block;
    vertical-align: middle;
     margin-left: 100px;

     margin-top: 50px;
}
.con{
     display: inline-block;
    vertical-align: middle;
     margin-left: 160px;
     margin-top: 70px;
    
}
.gas{
     margin-left: 240px;
}
.gobal,.quick,.prog,.con p{
    font-size: 17px;
}
.loss{
margin-top: -10px;
text-align: left;
}
.loss12{
    line-height: 1;
    text-align: left;
    margin-left: -80px;
}
.as:hover{
    color: #ffcc00;
    cursor: pointer;
}
.line{
    background-color: #011329;
    height: 40px;
    color: white;
    text-align: center;
    margin-top: -20px;
    border: 1px solid white;
}




