.box{
    box-shadow: 1px 0px 0px 1px;
    border-radius: 10px;
    text-align:center;
    display: inline-block;
    vertical-align: middle;
    background-color: beige;
    margin-left: 500px;
    margin-top: 60px;
   
}
.b{
    height: 38px;
    width: 300px;
    background-color: rgb(44, 255, 7);
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
   
}
.A{
   text-align: left; 
}
.e,.p{
    padding: 8px;
    width: 280px;
}
.con{
   position: absolute;
   bottom: 263px;
   font-size: 28px;
   left: 770px;
}
