
img{
    height: 200px;
    width: 200px;
   border-radius:100%;
   position: relative;
}
.a1{
 left: 0px;
 z-index: 1;

}
.a2{
left: -100px;
z-index: 2;
}
.a3{
left: -200px;
z-index: 3;
}
.a4{
 left: -300px;
 z-index: 4;

}
.a5{
left: -400px;
z-index: 5;
}
.a6{
left: -500px;
z-index: 6;
}

