.div1{
    background-color: rgb(2, 2, 33);
    color: white;
    width:1250px;
}
.we,.h,.a,.s,.p,.b,.c,.u{
    display: inline-block;
}
.l{
    color: yellow;
}
.we{
    font-size: 20px;
    margin-left: 10px;
}
.h,.a,.s,.p,.b,.c,.u{
    margin: 10px;
}
.h{
    margin-left: 600px;
}
.u{
     width: 90px;
     height: 23px;
     background-color: yellow;
     color: black;
     border-radius: 10px;
     text-align: center;
}
.div2{
    height: 180px;
    width: 1250px;
    border: dotted;
    border-color: red;
    background-image: url(nature.html);
    text-align: center;
    border-radius: 10px;
    }
.learn{
    font-size: 30px;
    }
.button{
    background-color: yellow;
    vertical-align: middle;
    display: inline;
    padding: 10px;
    border-radius: 10px;
}
.div3{
    border: 2px dashed black;
    margin-top: 1px;
    text-align: center;
    background-color: rgb(243, 241, 237);
    border-top: 0px;
    border-radius: 10px;
    display:block;
    width:1250px;
   }
.margin{
    text-align: center;
    margin: auto;
    height: 0px;
    width: 60px;
    border: 2px solid blue;
    margin-top: 20px;
}
.green{
    border: 2px dashed green;
    width: 800px;
    height: 150px;
    margin-top: 30px;
    margin-left: 200px;
}
.sub1{
    background-color: white;
    height: 120px;
    width: 210px;
    border-radius: 10px;
    margin-left: 1px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: blue;
    margin: auto;
    margin-top: 10px;
}
.icon{
    font-size: 30px;
}
.w,.c{
    margin: auto;
}
.sub2{
    background-color: white;
    height: 120px;
    width: 210px;
    border-radius: 10px;
    margin-left: 30px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}
.circle1{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color:rgb(23, 244, 30);
    margin: auto;
    margin-top: 10px;
}
.icon1{
    font-size: 35px;
}
.d,.a{
    margin: auto;
}
.sub3{
     background-color: white;
    height: 120px;
    width: 210px;
    border-radius: 10px;
    margin-left: 30px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}
.circle2{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: darkmagenta;
    margin: auto;
    margin-top: 10px;
}
.icon2{
    font-size: 30px;
}
.o,.r{
    margin: auto;
}
.div4{
     height: 230px;
    width: 1230px;
    border: dashed;
    border-color: orange;
    padding: 10px;
    margin-left: auto;
    border-radius: 10px;
    margin-top: 1px;
    border-top: 0px;
}
.bu{
    background-color: blue;
    vertical-align: middle;
    display: inline;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.About,.why{
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 120px;
    margin-left: 180px;
    padding-left: 60px;
}
.sat{
    text-align: center;
    height: 0px;
    width: 60px;
    border: 2px solid blue;
    margin-top: 20px;
}
.tas{
    text-align: center;
    height: 0px;
    width: 60px;
    border: 2px solid blue;
    margin-top: 20px;
}
.div5{
  padding:40px;
 display: flex;
  justify-content:space-around;
  color:orange;
  height: 40px;
  width: 1170px;
  background-color: black;
  text-align: center;
  margin-top: 1px;
  border: 2px solid black;
  border-radius: 10px;
}
.stat h2{
  font-size:35px;
  margin-top: -30px;
}
.stat p{
  color:white;
  margin-top:1px;
  top: -10px;
}
.div6{
    color: black;
    margin-top: 1px;
    border-radius: 10px;
    width: 1250px;
    display: inline-block;
    vertical-align: middle;
    color: white;
    background-color: rgb(7, 13, 84);
border:2px dashed rgb(62, 62, 251);
}
.Quick{
    margin-left: 110px;
     display: inline-block;
    vertical-align: middle;
}
.like{
    border: 2px solid white;
    height: 180px;
    width: 0px;
    display: inline-block;
    margin-left: 90px;
    margin-top: 30px;
    vertical-align: middle;
}
.as{
     display: inline-block;
    vertical-align: middle;
    margin-left: 160px;
    top: -10px;
}
.fa {
   padding: 10px;
  font-size: 10px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius:90px ;
  display: inline;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-google {
  background: #fb470b;
  color: white;
}
.likes{
    border: 2px solid white;
    height: 180px;
    width: 0px;
    display: inline-block;
    margin-left: 60px;
    margin-top: 30px;
    vertical-align: middle;
}
.last{
    display: inline-block;
    vertical-align: middle;
    margin-left: 150px;
    top: -10px;
}
.yellow{
    background-color: yellow;
    vertical-align: middle;
    display: inline;
    padding: 5px;
    border-radius: 10px;
}
.copy{
    text-align: center;
}
