body{
    border: 2px solid black;
}
.box{
    width: 500px;
    height: 300px;
    display: inline-block;
    text-align: center;
}
h1,h2,p,button{
    margin-left: 90px;
}
.image{
    background-image:url(OIP.html);
    width: 500px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
}
.b{
    background-color: black;
    color: white;
    border-radius: 7px;
}
